@import'reset.css';
@import'basic.css';
@import'header.css';
@import'footer.css';
@import'layout.css';
@import'text.css';
@import'grid.css';

/* barra de navegación */

.nav-main ul {
    display: flex;
    color: grey;    
}

.nav-main li {
    margin-right: .5em;      
}

.nav-main li:last-child {
    margin-right: 0;
}

.nav-main a {
    color: black;
}

.nav-main a:hover {
    text-decoration: underline;
}

.nav-main .separator {
    color: #ccc;
}

section {
    background-color:orange;

}

aside {
    background-color:rgb(2, 192, 255)
}

/* main */
/*.main-home {
    display: flex;
}*/


/* section */
/*.main-home section {
    width: 70%;
    background-color:;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.main-home section img {
    width: 100%;
    height: auto;
}

.recipe-full {
    background-color: hotpink;
    width: calc(50% - 50px);
    margin-left: 50px;
    margin-bottom: 5px;
}*/

/*.recipe-full:nth-child(2n+1) {
    margin-right: 0;
}*/






/* aside */

/*.main-home aside {
    width: 30%;
    background-color: red;
}*/
